server:
  http_listen_port: 9080

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
- job_name: container_logs
  docker_sd_configs:
    - host: unix:///var/run/docker.sock
      refresh_interval: 5s
  relabel_configs:
    - source_labels: ['__meta_docker_container_name']
      regex: '/(.*)'
      target_label: container_name

    - source_labels: ['__meta_docker_container_label_com_docker_compose_service']
      target_label: job

    - source_labels: ['__meta_docker_container_label_org_label_schema_version']
      target_label: version

  pipeline_stages:
  - json:
      expressions:
        level: level
        timestamp: timestamp
        path: path
        duration_ms: duration_ms

  - timestamp:
      source: timestamp
      format: RFC3339