name: Canary Deployment Pipeline for Transaction-Validator


on:
  push:
    branches: [ "main" ]
    paths:
      - 'app/**' 

jobs:
  canary_release:
    runs-on: ubuntu-latest
    environment: production 

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Node.js 20
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Install Dependencies & Run Automated Tests
      run: |
        cd app
        npm i
        npm test

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to Docker Registry
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Build and Push Docker Image
      id: docker_build
      uses: docker/build-push-action@v5
      with:
        context: ./app
        push: true
        tags: payflowmx/validator:${{ github.sha }}, payflowmx/validator:latest
        build-args: |
          APP_VERSION=${{ github.sha }}

    - name: Setup SSH and Run Canary Deploy Script
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.PROD_HOST }}
        username: ${{ secrets.PROD_USER }}
        key: ${{ secrets.PROD_KEY }}
        script: |
          cd /opt/payflow-validator 
          git pull 
          bash scripts/deploy_canary.sh payflowmx/validator:${{ github.sha }}